PORT=3002
SECRET="this-is-a-top-top-secret"
MONGO_URI="mongodb://127.0.0.1:37017"
MONGO_DBNAME="faretrack"
SITE_URL="http://localhost:3002"
API_BASE_URL="http://localhost:3001"
UI_BASE_URL="http://localhost:3000/#"
SHARED_JWT_SECRET="yo-its-a-secret"
JWT_EXPIRY_TIME="7d"